*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,7; 
    background-color: #000000;
    color: #ffffff;

}

header{
    background-image: url(img/foguinho.png);
    background-size: 500px 500px;
    color: #ffffff;
    padding: 48px;
    text-align: center;
   
}

h1 {
    font-size: 400%;
}

nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff ;
    text-decoration: none;
    font-size: 150%;
}

  
main {
    padding: 50px;
    max-width: 950%;
    margin: auto;
    display: flex;
}

section {
    display: flexbox;
    margin-left:  5px;
    padding: 10px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;        
}

section ul {
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

a {
    font-size: 200%;
    color: #dd1818e7;
}

footer {
    font-size: 5%;
}

  







